<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlc.work">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DeepLink跳转页面 -->
        <activity android:name=".deeplink.DeepLinkActivity"
            android:label="@string/deeplink" />
        <activity android:name=".deeplink.QiyiDeepLinkActivity"
            android:label="@string/iqiyi_deeplink"/>
        <activity android:name=".deeplink.QiyiRegisterBizActivity"
            android:label="@string/iqiyi_register_biz"/>
        <activity android:name=".deeplink.QiyiH5TokenActivity"
            android:label="@string/iqiyi_h5_token" />

    </application>

</manifest>